@import 'colors/colors.css';
* {
    border: none;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

/* módulos base */
#clock,
#workspaces,
#tray,
#pulseaudio,
#network,
#custom-battery,
#custom-notification {
    background: @bg;
    color: @text;
    padding: 6px 12px;
    margin: 0 6px;
}

/* hover sutil */
#clock:hover,
#pulseaudio:hover,
#network:hover,
#custom-battery:hover,
#custom-notification:hover {
    background: @surface;
}

/* workspaces */
#workspaces button {
    padding: 4px 8px;
    margin: 0 3px;
    color: @muted;
    background: transparent;
}

#workspaces button.active {
    color: @accent;
    background: @surface;
}

#workspaces button:hover {
    color: @text;
}

/* clock destacado */
#clock {
    font-weight: bold;
    color: @accent;
}

/* audio */
#pulseaudio.muted {
    color: @critical;
}

/* network */
#network.disconnected {
    color: @critical;
}

/* batería */
#battery,
#custom-battery {
    color: @good;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @critical;
}

/* notificaciones */
#custom-notification {
    font-size: 16px;
}